.header {
    display: flex;
    justify-content: space-between;
}


.text {
    border-radius: 1ch;
    margin: 1ch;
    padding: 1ch;
    background-color: rgba(240, 50, 130, 0.1);
}

textarea {
    width: 80ch;
    height: 25em;
}

.red {

.petal {
    border-radius: 1ch;
    margin: 0.1ch;
}

.red {
    background-color: rgba(240, 20, 30, 0.3);
}

.blue {
    background-color: rgba(20, 30, 240, 0.3);
}

.green {
    background-color: rgba(30, 240, 20, 0.3);
}

.yellow{
    background-color: rgba(240, 200, 20, 0.3);
}
